$font: PT Sans, sans-serif;
$font-c: Courier New;


//==============================================================================================
//================COLORS========================================================================
//==============================================================================================


$dark: #000;
$white: #fff;
$color-red-d: #2f1b15;
$color-silver: #3d3d3d;
$color-light-dark: #231f20;
$purple: #4d214f;